.main-nav-button {
	border: solid 2px;
	padding: 5px;
	margin: 5px;
	border-radius: 10px;
	text-align: center;
	background: transparent url("images/blue.jpg");
	font-family: Helvetica, Arial, sans-serif;
}